/* *{
    margin: 0%;
    padding: 0%;
    border: 0ch;
 } */
span{
    color: rgb(0, 0, 0);
     
}
.container-2 {
    position: relative;
    text-align: left;
    color: rgb(109, 6, 6);
  }
   
.top-left {
    position: absolute;
    top: 15px;
    left: 16px;
  }   